* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #777;
}
h1 {
    color: #777;
    font-size: 12rem;
    filter: drop-shadow( -4px -4px 2px rgba(255, 255, 255, 0.4))drop-shadow( 8px 8px 4px rgba(0, 0, 0, 0.4))
    drop-shadow( 16px 16px 8px rgba(0, 0, 0, 0.4));
}