* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text {
    list-style: none;
    position: relative; 
    transform: rotate(-30deg) skew(25deg);
}
.text span{
    position: absolute;
    top:0;
    left: 0;
    width: 200px;
    height: 200px;
    transition: 2s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: solid 2px rgba(2, 29, 110, 0.9);
    background-color: rgba(8, 67, 241, 0.9);
    box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
}
.fa {
    font-size: 8rem;
    color: #fff;
}
.text:hover span:nth-child(1) {
    transform: translate(20px, -20px);
    opacity: 0.1;
}
.text:hover span:nth-child(2) {
    transform: translate(30px, -30px);
    opacity: 0.3;
}
.text:hover span:nth-child(3) {
    transform: translate(40px, -40px);
    opacity: 0.6;
}
.text:hover span:nth-child(4) {
    transform: translate(50px, -50px);
    opacity: 0.9;
}
